In [1]:
import pandas as pd

# Q.1

In [3]:
# shift+tab
# .tab
df = pd.read_csv('budget_data.csv')

In [4]:
month_total = len(df['Date'])
month_total

86

In [5]:
total = sum(df['Profit/Losses'])
total

22564198

In [6]:
df['Next'] = df['Profit/Losses'].shift(-1)
df['Changes'] = df['Next'] - df['Profit/Losses']
df['Date'] = df['Date'].shift(-1)
df.dropna(inplace=True)
change_avg = round(df['Changes'].mean(),2)
change_avg

-8311.11

In [7]:
x = df.loc[df['Changes'].argmax()]

In [8]:
g_date = x['Date']

In [9]:
g_change = x['Changes']

In [10]:
y = df.loc[df['Changes'].argmin()]

In [11]:
d_date = y['Date']

In [12]:
d_change = y['Changes']

In [13]:
print('Financial Analysis')
print(30*'-')
print('Total Months:',month_total)
print(f'Total: ${total}')
print(f'Average Change: ${change_avg}')
print(f'Greatest Increase in Profits: {g_date} (${g_change})')
print(f'Greatest Decrease in Profits: {d_date} (${d_change})')

Financial Analysis
------------------------------
Total Months: 86
Total: $22564198
Average Change: $-8311.11
Greatest Increase in Profits: Aug-16 ($1862002.0)
Greatest Decrease in Profits: Feb-14 ($-1825558.0)

In [14]:
fp = open('Q1.txt','w')
fp.write('Financial Analysis')
fp.write('\n')
fp.write(30*'-')
fp.write('\n')
fp.write(f'Total Months: {month_total}')
fp.write('\n')
fp.write(f'Total: ${total}')
fp.write('\n')
fp.write(f'Average Change: ${change_avg}')
fp.write('\n')
fp.write(f'Greatest Increase in Profits: {g_date} (${g_change})')
fp.write('\n')
fp.write(f'Greatest Decrease in Profits: {d_date} (${d_change})')
fp.close()

# Q.2

In [15]:
df = pd.read_csv('election_data.csv')

In [16]:
df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [59]:
total = len(df)

In [60]:
x = df['Candidate'].value_counts()

In [61]:
winner = x.index[0]
winner

'Diana DeGette'

In [62]:
print("Election Results")
print(30*'-')
print(f"Total Votes: {total}")
print(30*'-')
for name in sorted(x.index):
    votes = x[name]
    print(f"{name}: {round(votes*100/len(df),3)}% ({votes})")
print(30*'-')
print(f'Winner: {winner}')
print(30*'-')

Election Results
------------------------------
Total Votes: 369711
------------------------------
Charles Casper Stockham: 23.049% (85213)
Diana DeGette: 73.812% (272892)
Raymon Anthony Doane: 3.139% (11606)
------------------------------
Winner: Diana DeGette
------------------------------

In [63]:
fp = open('Q2.txt','w')

fp.write("Election Results")
fp.write('\n')
fp.write(30*'-')
fp.write('\n')
fp.write(f"Total Votes: {total}")
fp.write('\n')
fp.write(30*'-')
fp.write('\n')
for name in sorted(x.index):
    votes = x[name]
    fp.write(f"{name}: {round(votes*100/len(df),3)}% ({votes})")
    fp.write('\n')
fp.write(30*'-')
fp.write('\n')
fp.write(f'Winner: {winner}')
fp.write('\n')
fp.write(30*'-')
fp.close()